
/** CSS for all web pages :) **/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Calibri;
}

.top-nav{
	border-bottom: 3PX solid #2f1691;
	background-color: #07011B;
	height: 16vh;
	line-height: 16vh;
	padding-left: 5vw;
	padding-right: 5vw;
}

@media (max-width:991px) {
	.nav-item {
		background-color: #07011B;
		border: 2px solid #2f1691;
	}
}
  
.nav-logo {
	height: 14vh;
	line-height: 14vh;
}

#side-bar {
	width: 30vw;
	min-height: 800px;
	background-size: contain;
	background-color: #0f0339;
	float: left;
	padding-left: 3vw;
	padding-top: 3vw;
}


#main-section {
	width: 70vw;
	min-height: 400px;
	background-size: contain;
	padding-left: 5vw;
	padding-top: 5vh;
	background-color: #07011B;
	border-bottom: 3PX solid #2f1691;
}

#sub-section {
	width: 70vw;
	background-size: contain;
	min-height: 400px;
	padding-left: 5vw;
	padding-top: 5vh;
	background-color: #0f0339;
}

.clearfix::after {
	content:"";
	display: block;
	clear: both;
}

#main-content-wrapper {
	display: flex;
}

#secondary-content-wrapper {
	border-left: 3PX solid #2f1691;
	float: right;
	width: 70vw;
	background-color: #07011B;
}

#footer {
	width: 100vw;
	height: 15vh;
	background-color: #07011B;
	border-top: 3PX solid #2f1691;
	text-align: center;
	line-height: 15vh;
}










body {
	font-size: 62.5%;
}

.topnav{
	border-bottom: 3PX solid #2f1691;
	background-color: #07011B;
	height: 16vh;
}

@media (max-width:991px) {
	.nav-item {
		background-color: #07011B;
		border: 2px solid #2f1691;
	}
}
  
.navlogo
{
	height: 14vh;
}

/** Navbar Experiment **/
::-webkit-scrollbar
{
    width: 0;
}
#scrollPath
{
    position: fixed;
    top: 0;
    right: 0;
    width: 10 px;
    height: 100%;
	background: linear-gradient(to top, #07011b, #600e1c, #bb1b1b, #ec5527, #ffd042);
}

#progressbar
{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 50%;
    border-radius: 10px;
    background: linear-gradient(to top, #07011b, #600e1c, #bb1b1b, #ec5527, #ffd042);
    animation: animate 5s linear infinite;

}

#progressbar:before
{
    content:'';
    position: absolute;
    top: 0;
    Left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #07011b, #600e1c, #bb1b1b, #ec5527, #ffd042, #fbe395);
    filter: blur(10px);
}

#progressbar:before,
#progressbar:after
{
    content:'';
    position: absolute;
    top: 0;
    Left: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(to top,  #07011b, #600e1c, #bb1b1b, #ec5527, #ffd042, #fbe395);
    filter: blur(30px);

}
#progressbar:after
{
    content:'';
    position: absolute;
    top: 0;
    Left: 0;
    width: 10[x];
    height: 100%;
    background: linear-gradient(to top,  #07011b, #600e1c, #bb1b1b, #ec5527, #ffd042, #fbe395);
    filter: blur(30px);

}

@keyframes animate
{
    0%,100%
    {
        filter: hue-rotate(0deg);
    }
    50%
    {
        filter: hue-rotate(15deg);
    }
}

/**  **/

.sidebar{
	float: left;
	position: fixed;
	background-color: #0f0339;
	width: 30vw;
	height: 100vh;
	min-height: 90vh;
	border-bottom: 3PX solid #2f1691;
	padding-left: 3vw;
	padding-bottom: 15vh;
}

#page-container {
	position: relative;
	min-height: 100vh;
	background-color: #0f0339;
}
  
#content-wrap {
	margin-bottom: 15vh;
}
  
.footer2 {
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: 15vh;
	background-color: #07011B;

}


.mainsection2 {
	float: right;
	background-color: #07011b;
	width: 70vw;
	min-height: 90vh;
	background-size: contain;
    grid-column-gap: 5%;
	padding-top: 8%;
	border-bottom: 3PX solid #2f1691;
	border-left: 3PX solid #2f1691;
}

.subsection2 {
	float: right;
	width: 70vw;
	background-size: contain;
	background-color: #0f0339;
	padding-top: 10vh;
	padding-bottom: 10vh;
	border-bottom: 3PX solid #2f1691;
	border-left: 3PX solid #2f1691;
}



/** Text CSS **/

.title{
	line-height: 10vh;
	color: #fbe395;
	padding-bottom: 2%;
}

.subtitle{
	line-height: 8vh;
	color:#fbe395;
	padding-bottom: 2%;
}

.text{
	font-size: 6h;
	color:#fef1c5;
}

.smalltext{
	font-size: 4vh;
	color:#fbe395;
}
.smallertext{
	font-size: 2vh;
	color:#fbe395;
}





/** Section Blocking Format **/

.intro{
	background-color: #07011b;
	width: 100%;
	min-height: 90vh;
	background-size: contain;
    grid-column-gap: 5%;
	padding-top: 8%;
	border-bottom: 3PX solid #2f1691;
}

.mainsection{
	background-color: #07011b;
	width: 100%;
	min-height: 90vh;
	background-size: contain;
    grid-column-gap: 5%;
	padding-top: 8%;
	border-bottom: 3PX solid #2f1691;
}

.subsection{
	background-size: contain;
	background-color: #0f0339;
	padding-top: 10vh;
	padding-bottom: 10vh;
	border-bottom: 3PX solid #2f1691;
}

.info{
	background-color: #07011b;
	height: 90vh;
}

.pd_summary{
	background-color: #07011b;
	background-size: contain;
	padding-top: 10vh;
	padding-bottom: 10vh;
	border-bottom: 3PX solid #2f1691;
}

.pd_weaknesses{
	background-size: contain;
	background-color: #0f0339;
	padding-top: 10vh;
	padding-bottom: 10vh;
	border-bottom: 3PX solid #2f1691;
}

.pd_header{
	padding-bottom: 3vh;
	color:#fbe395;
}

.hp_padding{
	padding-top: 3vh;
}

.container_1{
	margin-top: 10vh;
	margin-bottom: 10vh;
}

.container_2{
	margin-top: 5vh;
	margin-bottom: 5vh;
}

.about{
	background-size: contain;
	margin-top: 8vh;
	margin-bottom: 8vh;
}




.pagecontent{
	height: 90vh;
}

.logo{
	width: 30dvw;
}

.hpimg{
	width: 30dvw;
	padding:5%;
}




	






.video{
	max-width: 100%;
	height: auto;
	width: auto\9;
}


.footerintro{
	background-color: #07011B;
	height: 15vh;
	position: fixed;
	bottom: 0;
	margin-top: auto;
}

.footer{
	background-color: #07011B;
	height: 15vh;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}


h1{
	color: #470000;
}

.arrow{
	position: absolute;
	bottom: 0;
	right: 25%;
}

.card .img-fit {
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.card {
    /* display: flex; */
    height: 100%;
    /* flex-direction: column; */
}

.card-body {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.card-text {
    /* flex: 1; */
    flex-grow: 1;
}

@media (max-width: 767.98px) {
    .card .img-fit {
        aspect-ratio: 1.45 / 1;
        object-fit: cover;
    }
}



@media screen and (max-width: 925px) {

    .logo {display:none;}

}

@media screen and (max-width: 925px) {

    .hpimg {display:none;}

}

@media (max-width: 925px) {
    .text{font-size: 0.75em;}
}

@media (max-width: 925px) {
    .smalltext{font-size: 0.7em;}
}

.hidden{
	display: none;
}

h5:hover {
	color: #fc514c;
  }

@media (max-width: 1208px) {
    .smallertext{font-size: 0.7em;}
}

@media (max-width: 925px) {
    .weaknesses{height: 250vh;}
}

