{% extends "layout.html" %}

{% block title %}Branding{% endblock %}
{% block header %}Branding{% endblock %}

{% block main_content %}
   
    <div id="main-div" class="clearfix">
        <div id="sidebar">
            <div class="side-container">
                <div class="side-circle side-item">
                    <div id="side-progress">
                        <div id="side-progress-value">
                            <img class="side-lock" src="https://static.igem.wiki/teams/4944/wiki/img/lock.svg" alt=""/>
                        </div>
                    </div>
                </div>
                <div class="side-nav side-item">
                    <ul>
                        <div class="side-title section-link" onclick="scrollToSection('section1')">Project Name</div>
                        <div class="side-title section-link" onclick="scrollToSection('section2')">Logo</div>
                        <div class="side-title section-link" onclick="scrollToSection('section3')">Colour Palette</div>
                    </ul>
                </div>
            </div>
        </div>

        <div id="main-content">
            <div class="main-section glass">
                <h3 class="subtitle">Overview</h3>
                <p class="text">CholesterLock's brand identity embodies both modernity and compassion, resonating with our dedication to innovation and the well-being of our patients. With commitment to fostering hope and optimism, we invite patients to join us on a journey to better health and brighter future through innovative biotechnology. Together, we are refining the way high cholesterol is managed, transforming lives with a touch of empathy and promise of vitality.</p>
            </div>

            <div class="sub-section">
                <h3 id="section1" class="subtitle">Project Name</h3>
                <p class="text">To enhance brand recognition and comprehension, we chose to give our project a descriptive name that captures the nature of the solution. After thorough deliberation, our team reached a unanimous verdict: our innovative fusion protein, and the entire initiative behind it, would be christened "CholesterLock." This name is elegantly straightforward, offering a clear and immediate understanding of our project's purpose. It symbolises the core function of our fusion protein – locking the cholesterol receptors and blocking cholesterol synthesis and absorption. </p>
            </div>

            <div class="sub-section">
                <h3 id="section2" class="subtitle">Logo</h3>
                <p class="text">With the name settled, we started developing a logo that embodies our brand personality and conveys our mission. After rounds of discussion, we have settled on the following logo:</p>
                <div class="figure">
                    <img class="wide-box-img glass" src="https://static.igem.wiki/teams/4944/wiki/human-centred-design/branding-logo.png" alt="">
                </div>
                <p class="text">We deliberately selected a clean, contemporary typeface that not only ensures readability but also offers a visually pleasing experience. The modification of the letter "o" to resemble a cholesterol molecule adds a powerful visual element, reinforcing our dedication to addressing cholesterol-related challenges. Our warm colour palette, featuring shades of red, orange, yellow, and cream, conveys a sense of rejuvenation and vitality. These colours serve as a visual testament to the empowerment of our primary goal of improving the quality of life of patients and patient-centred treatment. </p>
            </div>

            <div class="sub-section">
                <h3 id="section3" class="subtitle">Colour Palette</h3>
                <div class="figtext-container">
                    <div class="fig-text">
                        <p class="text">Our colour palette, consisting of serene dark blue, calming blue, deep maroon red, warming dark orange, vibrant orange, and yellow, resembling sunrise colours with aims to evoke a sense of healing and renewal. </p>
                        <div class="figure">
                            <img class="box-img glass" src="https://static.igem.wiki/teams/4944/wiki/human-centred-design/colour-palette.png" alt="">
                        </div>
                    </div>
                    <div class="figure">
                        <img class="tall-box-img glass" src="https://static.igem.wiki/teams/4944/wiki/human-centred-design/colour-design.png" alt="">
                    </div>
                </div>
            </div>       
        </div>
    </div>

{% endblock %}