{% extends "layout.html" %}
  
{% block header %}Members{% endblock %}

{% block main_content %}

<head>
    <link rel="stylesheet" href="static\member-style.css">
    
</head>


    <div id="main-div" class="clearfix">
        <!--
        <div id="sidebar">
            <div class="side-circle"></div>
            <div class="side-nav">
                <ul>
                    <li><a class="side-title" href="#section1">Section 1</a></li>
                    <li><a class="side-title" href="#section2">Section 2</a></li>
                    <li><a class="side-title" href="#section3">Section 3</a></li>
                </ul>
            </div>
        </div>
        -->

        

        <div id="main-content">
            <div class="main-section glass">
                
                <p class="text" style="text-align: center;">“The strength of the team is each individual member. The strength of each member is the team.” - Phil Jackson</p>
            </div>
            <h1 style="font-size: 78px;color: rgb(254, 140, 47) ;text-align: center;">Wet Lab</h1>
            <div style="margin-bottom: 30px;"></div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card" style="margin-right: 18px;">
                        <div class="card-image">
                            <img src="https://static.igem.wiki/teams/4944/wiki/team/muskaan.png" alt="Profile image">
                        </div>
                        <p class="name">Muskaan Puri</p>
                        <p style="font-size: 12px;">Hello! My name is Muskaan. I am pursuing B.S. (honors) Cellular, Molecular and MIcrobial Biology with a concentration in Nanoscience. As the team lead for education and collaboration, I enjoyed discussing the importance of Synthetic Biology and spreading awareness about its advances over the years not only with iGEM and the local community, but also the global community through our various in person and virtual initiatives.I am also very much involved in Yoga, Meditation and Mindfulness activities.
    
                        </p>
                    </div>
    
                </div>
    
                <div class="col-md-6">
                    <div class="card d-flex flex-column"style="margin-left: 18px;">
                        <div class="card-image">
                            <img src="https://static.igem.wiki/teams/4944/wiki/team/shirin.jpg" alt="Profile image">
                        </div>
                        <p class="name">Shirin Rajesh</p>
                        <p style="font-size: 13px;">Hello everyone! My name is Shirin, and I’m a second year Cellular Molecular Microbiology major.  As a part of CholesterLock’s Wet lab team, my work primarily involved bacteria and PCR but I spent time involved in every aspect of the project. I’m very passionate about science and am always up for the coolest, late lab discussions. 
    
    
                        </p>
                    </div>
                </div>
    
    
            </div>
    
    
        <div class="row justify-content-center">
            <div class="col-md-4">
                

                
                <div class="card">
                    <div class="card-image">
                        <img src="https://static.igem.wiki/teams/4944/wiki/team/badra.png" alt="Profile image">
                    </div>
                    <p class="name">Badra Abbas</p>
                    <p style="font-size: 14px;">Hello. I’m Badra Abbas and I’m a third year Biomedical Sciences student. So far, I’ve had pretty diverse lab experiences, but I still loved getting to solve all sorts of unexpected problems in iGEM. I spend my time skateboarding (badly), reading, painting, and trying to learn as many cool things as possible. </p>
                </div>
            
                

            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-image">
                        <img src="https://static.igem.wiki/teams/4944/wiki/team/camelia.png" alt="Profile image">
                    </div>
                    <p class="name">Camelia Ursu</p>
                    <p style="font-size: 13px;">Hi! My name is Camelia and I am a first year Medical student finishing my fourth year of a Bachelor’s in Biochemistry :) I have been lucky enough to get to do all sorts of lab work, ranging from zebrafish to bacteria to plants to community based research, but minipreps are still one of my most favorite lab protocols to date. I enjoy spending time with my little siblings, reading anything by Agatha Christie, cooking, and gardening (or at least trying)!
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-image">
                        <img src="https://static.igem.wiki/teams/4944/wiki/team/schein.png" alt="Profile image">
                    </div>
                    <p class="name">Schein Chingozho</p>
                    <p style="font-size: 13px;">Hey, my name is Schein, a third year Biomed student with a minor in Philosophy!  As much as I enjoyed spending hours in the lab running gels, my favorite part of being in iGEM was definitely getting the opportunity to speak with people in different fields, from farmers at our local markets to endocrinologists. I thoroughly enjoyed learning more about what other people are passionate about. I love trying new hobbies and my latest ones are boxing and bouldering!
                    </p>
                </div>

        </div>


        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-image">
                        <img src="https://static.igem.wiki/teams/4944/wiki/team/eunbi.png" alt="Profile image">
                    </div>
                    <p class="name">Eunbi Noh</p>
                    <p style="font-size: 12px;">Hey! My name is Eunbi and I was a member of the wet lab on team CholesterLock. Most of my time was spent troubleshooting hedgehog protein production and working with bacteria, but I enjoyed learning about the mammalian side of the lab and many new things to help accomplish our project. I have many interests in science, but I am also excited to travel and see different perspectives. Some of my hobbies when I’m not in a lab coat include lots of sports, and listening to music. 

                    </p>
                </div>

            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-image">
                        <img src="https://static.igem.wiki/teams/4944/wiki/team/giovanna.png" alt="Profile image">
                    </div>
                    <p class="name">Giovanna Acosta</p>
                    <p style="font-size: 13px;">Salutations. I’m Giovanna, and I’m a fourth year Cellular, Molecular and Microbial Biology student with a minor in Nanoscience. I was part of CholesterLock’s wet lab team and worked with both the bacterial and mammalian cell cultures. Aside from my interest in the sciences, I also have a passion for art, and pride myself as a gelato and film connoisseur. Brought a glorious card game named Cactus to the unenlightened masses in this team. Also chronically sleep-deprived.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-image">
                        <img src="https://static.igem.wiki/teams/4944/wiki/team/kasib.png" alt="Profile image">
                    </div>
                    <p class="name">Kasib Mir</p>
                    <p style="font-size: 13px;">Hi! My name is Kasib and I’m a third year biomedical sciences student at the University of Calgary. I have a passion for biotechnology and synthetic biology, and played an important role as team lead on CholesterLock. My work encompassed both the wet lab and the dry lab, including mammalian cell work, bacterial troubleshooting, and helping model proteins. When I’m not in the lab, I’m usually somewhere near the mountains, or out with my dog.
                    </p>
                </div>
            </div>

        </div>


        <h1 style="font-size: 78px;color: rgb(254, 140, 47) ;text-align: center;">Dry Lab</h1>
        <div style="margin-bottom: 30px;"></div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card d-flex flex-column"style="margin-right: 35px;">
                    <div class="card-image">
                        <img src="https://static.igem.wiki/teams/4944/wiki/team/meagan.png" alt="Profile image">
                    </div>
                    <p class="name">Meagan Davies</p>
                    <p style="font-size: 12px;">Hi! I’m Meagan, a member of the dry lab team on CholesterLock! I am currently in my third year of Biomedical Engineering and Astrophysics. I primarily spent the summer creating our linker web app and helping code the website. My work also included keeping the team on track and ensuring things got handed in on time. I am passionate about many cool engineering projects, as well as volunteering regularly at the University’s observatory! 

                    </p>
                </div>

            </div>

            <div class="col-md-6">
                <div class="card d-flex flex-column"style="margin-left: 35px;">
                    <div class="card-image">
                        <img src="https://static.igem.wiki/teams/4944/wiki/team/joy.jpg" alt="Profile image">
                    </div>
                    <p class="name">Joy Wang</p>
                    <p style="font-size: 13px;">Hi! I am Joy and I am a third year Geomatics Engineering student with a minor in Biomedical Engineering. My favorite part of iGEM is that I get to work on the project from various aspects and explore new perspectives and skills.  Outside of iGEM, I like to read, watch movies, exercise and learn new things. 

                    </p>
                </div>
            </div>


        </div>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card d-flex flex-column" style="margin-right: 35px;">
                    <div class="card-image">
                        <img src="https://static.igem.wiki/teams/4944/wiki/team/becca.png" alt="Profile image">
                    </div>
                    <p class="name">Becca Pettigrew</p>
                    <p style="font-size: 12px;">Hello. I’m Becca, and I am a member of the dry lab. As part of iGEM, I got to focus a lot on the coding aspects of the project and the linker app (with my glowy supercomputer), but was also super involved in community outreach, data collection, and strategizing dry lab goals. In my free time I like to go back home to Vancouver or on long hikes! 
                    </p>
                </div>

            </div>

            <div class="col-md-6">
                <div class="card d-flex flex-column" style="margin-left: 35px;">
                    <div class="card-image">
                        <img src="https://static.igem.wiki/teams/4944/wiki/team/parth.png" alt="Profile image">
                    </div>
                    <p class="name">Parth Shah</p>
                    <p style="font-size: 13px;">Hi I’m Parth, and I'm currently pursuing a combined degree in Mechanical Engineering and Astrophysics. I am passionate about developing innovative technology to advance society such as Hybrid Rockets and Augmented Reality Smart Glasses. I was a member of the dry lab team over the summer, where I was part of the programming process and created ways for our lab to keep track of everything we did, from materials to protocols to committee work. 




                    </p>
                </div>
            </div>


        </div>

        <h1 style="font-size: 78px;color: rgb(254, 140, 47) ;text-align: center;">Advisors</h1>
        <div style="margin-bottom: 30px;"></div>

        <div class="row justify-content-center">
            <div class="col-md-4">
                

                
                <div class="card" style="height: auto;">
                    <div class="card-image" >
                        <img src="https://static.igem.wiki/teams/4944/wiki/team/pratik.png" alt="Profile image">
                    </div>
                    <p class="name">Pratik Narain Srivastava</p>
                    <p style="font-size: 14px;">Teaching Assistant</p>
                </div>
            
                

            </div>

            <div class="col-md-4">
                <div class="card"  style="height: auto;">
                    <div class="card-image">
                        <img src="https://static.igem.wiki/teams/4944/wiki/team/nick.png" alt="Profile image">
                    </div>
                    <p class="name">Nicholas Perewernycky</p>
                    <p style="font-size: 14px;">Teaching Assistant
                    </p>
                </div>
            </div>
            <div class="col-md-4" >
                <div class="card" style="height: auto;">
                    <div class="card-image">
                        <img src="https://static.igem.wiki/teams/4944/wiki/team/pranev.jpg" alt="Profile image">
                    </div>
                    <p class="name">Pranav Saligrama Ramesh</p>
                    <p style="font-size: 14px;">Teaching Assistant
                    </p>
                </div>

        </div>


        <h1 style="font-size: 78px;color: rgb(254, 140, 47) ;text-align: center;">Principle Investigators</h1>
        <div style="margin-bottom: 30px;"></div>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card d-flex flex-column" style="margin-right: 35px; height: auto;">
                    <div class="card-image">
                        <img src="https://static.igem.wiki/teams/4944/wiki/team/mayi.png" alt="Profile image">
                    </div>
                    <p class="name">Mayi Arcellana-Panlilio</p>
                    <p style="font-size: 14px;">Professor (Teaching) | Biochem & Molecular Biology
                    </p>
                </div>

            </div>

            <div class="col-md-6">
                <div class="card d-flex flex-column" style="margin-left: 35px;height: auto;">
                    <div class="card-image">
                        <img src="https://static.igem.wiki/teams/4944/wiki/team/mark.jpg" alt="Profile image">
                    </div>
                    <p class="name">Mark Ungrin</p>
                    <p style="font-size: 13px;">Associate Professor | Comparative Biology & Experimental Medicine</p>




                    </p>
                </div>
            </div>


        </div>

  



        </div>
    </div>


{% endblock %}