{% extends "layout.html" %}

{% block title %}Sponsorships{% endblock %}
{% block header %}Sponsorships{% endblock %}

{% block main_content %}
   
    <div id="main-div" class="clearfix">

        <div id="main-content">
            <div class="main-section glass">
                <h3 class="subtitle">Overview</h3>
                <p class="text">We would like to acknowledge and extend our gratitude to our wonderful sponsors. Without them, our iGEM season would have been neither the same, nor possible. We had two main categories of sponsors, those that contributed to our research and those that provided donations to our Food Distribution event at SAIT. As CholesterLock, we are equally grateful to both types of sponsors. </p>
            </div>
            <div class="figtext-container">
                <div class="figure">
                    <img class="tall-big-box-img glass" src="https://static.igem.wiki/teams/4944/wiki/team/sponsors-list.png" alt="Photo 1">
                </div>
                <div class="fig-text pb-3">
                    <h3 class="subtitle">iGEM Calgary 2023 Sponsors</h3>
                    <ul>
                        <li>Mindfuel TFC Project Pitch Prototype</li>
                        <li>Mind Fuel Seed Funding</li>
                        <li>IDEAS Fund</li>
                        <li>Genome Alberta</li>
                        <li>SUPERwork - Student Union, University of Calgary</li>
                        <li>UCalgary Faculties of Medicine, Engineering, and Science</li>
                        <li>PURE Studentships, O'Brien Studentships, URS Studentships</li>
                        <li>UCalgary VP Academic</li>
                        <li>UCalgary VP Research</li>
                        <li>UCalgary Provost</li>
                        <li>Alberta Women's Science Network (AWSN)</li>
                        <li>CO-OP</li>
                        <li>FreshRoutes</li>
                        <li>DJ Market</li>
                        <li>Sobeys</li>
                        <li>Save on Foods</li>
                        <li>Fresh and Local Market and Kitchens</li>
                        <li>Chongos Market and Fork on the Road</li>
                    </ul>
                </div>
            </div>
        </div>
                    

{% endblock %}