<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="license" href="https://creativecommons.org/licenses/by/4.0/"/>

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename = 'bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet">

    <!-- Dark/Light Mode CSS -->
    <link id="css-file" href="{{ url_for('static', filename='dark-mode.css') }}" rel="stylesheet">

    
    <title>{% block title %}{% endblock %} | Calgary - iGEM 2023</title>

</head>

<body>
  <!-- Navigation -->
  {% include 'menu.html' %}

  <div id="wrapper-div">
    <!--CONTENT-->
        <div id="header-banner-div">
            {% block header %}{% endblock %}
        </div>

        {% block main_content %}{% endblock %}
        
    </div>
  </div>

  <!-- Footer: MUST mention license AND have a link to team wiki's repository on gitlab.igem.org -->
  {% include 'footer.html' %}

  <!-- Bootstrap Bundle with Popper -->
  <script src="{{ url_for('static', filename = 'bootstrap.bundle.min.js') }}"></script>
  <script>
    function togglerCSS() {
      var styleSheet = document.getElementById('css-file');
      var currentStyle = styleSheet.getAttribute('href');
      var darkModeStyle = "{{ url_for('static', filename='dark-mode.css') }}";
      var lightModeStyle = "{{ url_for('static', filename='light-mode.css') }}";
  
      if (currentStyle === darkModeStyle) {
        styleSheet.setAttribute('href', lightModeStyle);
      } else {
        styleSheet.setAttribute('href', darkModeStyle);
      }
    }
  </script>

 </body>
</html>
